@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cabin:ital,wght@0,400..700;1,400..700&family=Cairo:wght@200..1000&family=Heebo:wght@100..900&family=Noto+Sans+Buhid&display=swap");


/*fullPage*/
@media (max-width: 768px) {
  /* Estilos para pantallas pequeñas */
  #header {
      height: auto; /*80*/
  }
  
  #footer {
      height: auto; /*50*/
  }
  
  #fullpage {
      padding: auto; /*20*/
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 769px) {
  #header {
      height: auto; 
  }
  
  #footer {
      height: auto; 
  }
  
  #fullpage {
      padding: auto; 
  }
}


html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

/* Fixed header and footer */
#header, 
#footer{
  position: fixed;
  width: 100%;
  background: #333;
  z-index: 9;
  text-align: center;
  color: #f2f2f2;
  padding: 30px 0;
  display: flex;
  align-items:center;
  justify-content:end;
}

#header{
  background-color: rgba(179, 83, 83, 0.87);
  color: white;
  font-family: "Noto Sans Buhid", sans-serif;
  padding: 0;
}

#footer{
  flex: 0 0 60px;
  background-color: rgba(179, 83, 83, 0.87);
  color: beige;
  font-family: "Noto Sans Buhid", sans-serif;
  bottom:0px;
  padding:0;
}

#footer .logoBip {
  display: inline-block; 
  text-align: end;
  width: 70px;
}

#footer .fa-brands {
  font-size: 2rem; 
  color: beige;
  padding: 10px;
}

.section {
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido */
  justify-content: flex-start; /* Alinea a la izquierda */
  padding: 20px; 
}

.section, .slide{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  min-height: calc(100vh - 160px);
}


.clientes {
  width: 100%;
  text-align: center;
}

.clientes h1 {
  justify-content: center;
  align-items: center;
}

.slide {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
 } 

.section .row {
  width: 100%; 
}

.section h1, .section h4 {
  font-size: calc(1.5em + 1vw);
  text-align: center;
}

.col-md-6 img {
  max-width: 55%; 
  height: auto;
  border-radius: 50%;
  margin-right: 20px;

}

.row {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Cabin", sans-serif;
  color: #fff;
  text-align:center;
}

h1{
  font-size: 6em;
  font-size: calc(2em + 2vw);
  margin:0;
}

/* Backgrounds colors for sections */
.fp-section:nth-child(1){
  background-color: rgba(179, 83, 83, 0.808);
}

.fp-section:nth-child(2){
  background-color: rgba(179, 83, 83, 0.808);
}

.fp-section:nth-child(3){
  background-color: rgba(179, 83, 83, 0.808);
}

.fp-section:nth-child(4){
  background-color: rgba(179, 83, 83, 0.808);
}

nav {
  align-items: center;
}

nav .navbar-nav li a {
  font-family: "Heebo", sans-serif;
  color: beige;
  font-size: larger;
}

nav .navbar-nav li a:hover {
  color: rgb(173, 111, 111);
}

nav .logoBip {
  width: 70px;
}

.navbar .navbar-expand-lg .bg-bip {
  background-color: beige;
}

.card {
  max-width: 400px; /* Controla el ancho de la tarjeta */
  height: auto; /* Permite que la tarjeta crezca con el contenido */
}

.card-img-top {
  max-height: 400px; /* Ajusta la altura de la imagen */
  object-fit: cover;
  width: 100%;
}

.card-body {
  padding: 10px;
}

.card-text, .card-title {
  overflow-wrap: break-word;
}

.imagenNosotros{
  max-height: 500px; /* Ajusta la altura de la imagen */
  width: 500px;
}

#botonOpiniones {
  background-color: beige;
  color: black;
  padding: 10px 20px;
  border: 2px solid transparent; /* Sin borde visible */
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#botonOpiniones:hover {
  background-color: rgb(173, 111, 111);
}

#botonEnvio{
  background-color: beige;
  color: black;
  padding: 10px 20px;
  border: 2px solid transparent; /* Sin borde visible */
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#botonEnvio:hover {
  background-color: rgb(173, 111, 111);
}
