
.col{
    .link-encuesta{
        display: inline-block; 
        padding: 10px 20px; 
        background-color: $colorBip; 
        color: white; 
        text-align: center; 
        text-decoration: none; 
        border-radius: 5px;
    }
}

.opiniones{
    .row{
        .col-form-label{
            font-size: 1.5rem;
        }
        
    }
    
}
