.clientes {
    ul{
        text-align: center;
        list-style: none;
    }
}

.principal img {
    width: 90%;
    border-radius: 50%;
    padding: 5%;
}

.col {
    h1{
        font-size:xx-large;
        }
    h4{
        font-size: x-large;
    }
    h3{
        font-size: x-large;
    }
    li{
        font-size: x-large;
    }
}
    
