footer{
    background-color: rgb(156, 103, 103);
    color: white;
    font-family: "Noto Sans Buhid", sans-serif;
    position: static;
    bottom: 0%;
    .footer-logo{
        width: 50px;
        text-align: center;
        padding: 2%;
    }
}
.fa-brands{
    font-size: xx-large;
    color: beige;
    padding: 2%;

}

