footer{
    background-color: rgb(156, 103, 103);
    color: white;
    font-family: "Noto Sans Buhid", sans-serif;
    position: static;
    bottom: 0%;

    .logoBip {
        display: inline-block; /* Para asegurar que los elementos sean tratados como bloques inline */
        text-align:end;
        padding: 10px 0;
        width: 70px;
    }
    
    .fa-brands {
        font-size: 2rem; /* Tamaño del icono de WhatsApp */
        color: beige;
        padding: 10px;
    }
}



