nav {
  align-items: center;
  li {
    a {
      font-family: "Heebo", sans-serif;
      color: black;
      img {
        .logoBip {
          width: 70px;
        }
      }
    }
  }
}

.navbar navbar-expand-lg bg-bip {
  background-color: beige;
}
