
    .navbar-nav{
        align-items: center;
        .nav-link{
            font-family: "Heebo", sans-serif;
            color: black;
            
        }
        
    }
    .bg-bip{
        background-color: beige;
    }
    .logoBip{
        width: 70px;
    }



